#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: gray;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('./assets/6277980.jpg');
  background-size: cover;
}

#city-input-box {
  margin: 10px;
  width: 100%;
}
